<div class="table-custom">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Action</th>
                <th>Details</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for log in activity_logs %}
            <tr>
                <td>{{ log.user.username }}</td>
                <td>{{ log.get_action_display }}</td>
                <td>{{ log.details }}</td>
                <td>{{ log.timestamp|date:"M d, Y H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center py-5">No activity logs found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if activity_logs.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="#" data-page="{{ activity_logs.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            {% for num in activity_logs.paginator.page_range %}
                {% if num > activity_logs.number|add:"-3" and num < activity_logs.number|add:"3" %}
                <li class="page-item {% if num == activity_logs.number %}active{% endif %}">
                    <a class="page-link text-dark" href="#" data-page="{{ num }}">{{ num }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if activity_logs.has_next %}
            <li class="page-item">
                <a class="page-link text-dark" href="#" data-page="{{ activity_logs.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div> 